<h1>投稿フォーム</h1>
<% if @post.errors.any? %>
  <%= @post.errors.count %>件のエラーが発生しました
  <ul>
    <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @post, url: '/posts', method: :post do |f| %>

  <h3>タイトル</h3>
  <%= f.text_field :title %>

  <h3>本文</h3>

  <%= f.text_area :body %>
  <%= f.submit '投稿' %>
<% end %>
<table>
    <thead>
        <tr>
            <th>投稿者名</th>
            <th>タイトル</th>
            <th>本文</th>
        </tr>
    </thead>
 <tbody>
        <% @posts.each do |post| %>
            <tr>
                <td><%= post.customer.try(:name) %></td>
                <td><%= post.title %></td>
                <td><%= post.body %></td>
                <td><%= link_to "編集", edit_post_path(post) %></td>
                <td><%= link_to "削除", post_path(post), method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
</table>